	button{
		font-weight:700;
		padding:8px 10px;
		background:yellow;
		color:brown;
		border-radius: 4px;
		border:none;
		transition: 0.2s ease-in;
	}
	button:focus {
border: none;
outline: none;
	}
	button:hover{
		color:yellow;
		background-color: transparent;
		outline:2px solid yellow;
	}
.txar{
background-color: transparent;
color:white;
width:200px;
width:200px;
border:2px solid yellow;
padding:10px;
transition: 0.2s ease-in;
caret-color: yellow;
}
.txar:focus {
border: none;
border:2px solid yellow;
border-radius: 10px;
outline: none;
}

.msg{
background-color:brown;
color:yellow;
font-size:1rem;
font-family:sans-serif;
width:300px;
height:200px;
border-radius:10px;
margin:100px auto;
display:flex;
gap:20px;
flex-flow: column;
justify-content: center;
align-items: center;
	}
	body{
		background-color: #fa4a1e;
	}